<footer class="footer section text-center mt-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="social-media">
                        <li>
                            <a href="https://www.facebook.com/">
                                <i class="bi bi-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/">
                                <i class="bi bi-instagram"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.twitter.com/">
                                <i class="bi bi-twitter"></i>
                            </a>
                        </li>
                    </ul>
                    <p class="copyright-text">Copyright &copy;2022. Contacto <a
                            href="mailto:">santiago.acosta@bue.edu.ar</a></p>
                </div>
            </div>
        </div>
    </footer>